.gallery {
  background-color: #dbddf1;
  padding: 80px 0;
}

img {
  max-width: 100%;
}

.gallery img {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

#gallery-popup .modal-img {
  width: 100%;
}
